<!doctype>
<html>
<head>
    <title>Golf Courses in Washington State</title>
</head>
<body>
    <header>Golf Courses in Washington State</header>
    <hr>
    {{{body}}}
    <hr>
    <div class="nav">
    {{! only show home link if on detail page }}
    {{#if course}}<a href="/">Home</a> |{{/if}}
    <a href="/about">About</a></div>
    <footer>&copy; Abell Smith</footer>
</body>
</html>